* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;

    position: fixed;
    inset: 0;
}
main{
    flex: 1 0 0;
    overflow-y: scroll;
    padding: 16px;
}
#songs{
    display: inline-flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    flex-wrap: wrap;
}
.song{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    text-align: center;
    border-radius: 16px;
    padding: 8px;
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
}
.song img{
    border-radius: 8px;
    height: 64px;
    width: 64px;
}