.player-bar {
    display: flex;
    justify-content: space-between;
    position: relative;

    padding: 16px;
    background-color: black;
    color: white;
    border-radius: 16px 16px 0 0;

    width: 100%;
}

.metadata {
    display: flex;
    gap: 32px;
    align-items: center;
}

.current-song {
    display: flex;
    gap: 16px;
    align-items: center;
}

#current-song-cover {
    height: 64px;
    width: 64px;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}

.titles {
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.track-title {
    font-size: 16px;
    font-weight: bold;
}

.track-artist {
    font-size: 12px;
    color: rgba(255, 255, 255, .5);
}


.song-actions {
    display: flex;
    gap: 4px;
}

.small-action-btn {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    transition-duration: .25s;
    cursor: pointer;
}

.small-action-btn:hover {
    background-color: rgba(255, 255, 255, .25);
}

.playback-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.playback-controls .buttons {
    display: flex;
    gap: 4px;
}

.playback-controls .seek-bar {
    display: flex;
    align-items: center;
    gap: 8px;
}

.playback-controls .seek-bar>p{
    font-size: 10px;
    color: rgba(255, 255, 255, .5);
}

.playback-controls .seek-bar .progress-bar {
    background-color: rgba(255, 255, 255, .25);
    border-radius: 90px;
    width: 490px;
    height: 5px;
    overflow: hidden;
}

.progress-bar>div{
    width: 0%;
    background-color: var(--acccent);
    height: 100%;
    border-radius: 0 90px 90px 0;
}