<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music App - Browse</title>
    <link rel="stylesheet" href="/static/browse.css">
</head>
<body>
    <h1>Music App</h1>
    <h2>Songs</h2>
    <p style="text-decoration: underline">These songs are fetched from <a href="/api/songs">'/api/songs'</a>.</p>
    <div id="songs">
        <!-- Fetched songs appear here! !-->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/browse.js"></script>
</body>
</html>
