<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/favicon.svg" sizes="any" type="image/svg+xml">
</head>
<body>
    <h1>Music App</h1>
    <form action="/api/login" method="post">
        <label>
            Username
            <input name="username" type="text" placeholder="Bob074">
        </label>
        <label>
            Password
            <input name="password" type="password" placeholder="********">
        </label>
        <input type="submit" value="Connexion">
        <p>By submitting this form you understand that we will use cookies to store session token.</p>
    </form>
</body>
</html>
